.tag
  &--default
    background-color $color-blue
    border-color $color-blue-dark
    color $color-white
  
  &--large
    set-font-size 20px
  &--small
    set-font-size 13px
    text-transform uppercase