/*------------------------------------*\
    VARIABLES
\*------------------------------------*/


/*
 * FONT
 */
$font-size = 1.5rem
$font-regular = Arial, sans-serif
$font-custom = 'Arimo', Arial, sans-serif
// $font-custom = 'Roboto', Arial, sans-serif

/*
 * COLORS
 */
$body-bg =              white

$color-white = #fff
$color-black = #000
$color-grey = #e0e0e0
$color-grey-light = #fafafa
$color-grey-dark = #b2b2b2
$color-grey-bg = #f5f5f5
$color-text-default = #333
$color-warning = #ff0000

$color-blue = #158ea3
$color-blue-dark = #0e5561

$color-success = #79C562
$color-info = #5583AD
$color-error = #D42222
/*
 * MEDIA QUERIES
 */
$xs-up = 'screen and (min-width: 20em)' // 320px
$xs-only = $xs-up + ' and (max-width: 47.938em)'
$sm-up = 'screen and (min-width: 48em)' // 768px
$sm-only = $sm-up + ' and (max-width: 63.938em)'
$md-up = 'screen and (min-width: 64em)' // 1024px
$md-only = $md-up + ' and (max-width: 78.063em)'
$lg-up = 'screen and (min-width: 78.125em)' // 1250px
$lg-only = 'screen and (min-width: 119.938em)'
$xlg-up = 'screen and (min-width: 120em)' // 1920px

$screen-xs =                  320px;
$screen-xs-min =              $screen-xs;
$screen-phone =               $screen-xs-min;

$screen-sm =                  767px;
$screen-sm-min =              $screen-sm;
$screen-tablet =              $screen-sm-min;

$screen-md =                  1024px;
$screen-md-min =              $screen-md;
$screen-desktop =             $screen-md-min;

$screen-lg =                  1250px;
$screen-lg-min =              $screen-lg;
$screen-lg-desktop =          $screen-lg-min;

$screen-xs-max =              ($screen-sm-min - 1);
$screen-sm-max =              ($screen-md-min - 1);
$screen-md-max =              ($screen-lg-min - 1);
/*
/*
 * RADIUS
 */
$radius-default = 3px;

/*
 * GRID
 */
$grid-columns ?=              12
$grid-gutter-width ?=         30px
$grid-float-breakpoint ?=     $screen-sm-min
$grid-float-breakpoint-max ?= ($grid-float-breakpoint - 1)

/*
 * CONTAINER
 */
$container-tablet ?=           (720px + $grid-gutter-width)
$container-sm ?=               $container-tablet

$container-desktop ?=          (940px + $grid-gutter-width)
$container-md ?=               $container-desktop

$container-large-desktop ?=    (970px + $grid-gutter-width)
$container-lg ?=               $container-large-desktop

