.editor
  &__content
    padding-bottom 2em
  &__navbar
    background-color $color-grey-light
    // padding 1.5em 1em
  &__question-header
    padding 0.5em
    padding-top 0
    font-size 20px
  &__question-bar
    padding 0.5em 0
    border-bottom 1px $color-grey solid
    text-align center
    &--empty
      color $color-grey-dark
  &__header
    margin 0
    margin-bottom 1em
  &__answers
    &__header
      // display block
      padding-bottom 0.5em
      &__h
        set-font-size 21px
      // .btn
      //   float right
    .answer
      margin-left -15px
      margin-right -15px
      &__header
        padding 0.8em 0
        &__h
          set-font-size 18px
        &__btn
          margin-top -0.3em
          float right
  &__form
    padding 1em
    // background-color $color-grey-light
    .btn
      margin-right: 0.4em
  &__pagination
    border-top 1px $color-grey solid
    padding-top 0.5em
  &__questions
    padding-bottom 0.5em
  &__question
    margin 0.2em
    &:hover
      color $color-blue-dark
      border-color $color-blue-dark
    &--selected
      background-color $color-blue-middle
      border-color $color-blue-dark
      color #fff
    &:focus
      background-color $color-blue-middle
      border-color $color-blue-dark
      color $color-grey-light
      opacity 1
  .btn-default.disabled.editor__question--selected
  &:focus
    opacity 1
    background-color $color-blue-middle
    border-color $color-blue-dark
    color $color-grey-light
.test-model
  &__name
    padding 1em
    display block
    background-color $color-blue-dark
    color $color-grey-light
    text-align center
    set-font-size 22px
    &:hover
    &:focus
      color $color-grey
      text-decoration none
  &__desc
    padding 1em
    set-font-size 16px
  &__controls
    padding: 1em 0.2em
  &__control
    white-space normal
    set-font-size 16px
  &__add
    padding: 1em 0.3em
    .help-block
      text-align center
      set-font-size 14px