.editor
  &__navbar
    background-color $color-grey-light
    padding 1.5em 1em
  &__question-bar
    padding 1em 0
    border-bottom 1px $color-grey solid
  &__form
    padding 1em
    background-color $color-grey-light