.editor
  &__navbar
    background-color $color-grey-light
    // padding 1.5em 1em
  &__question-bar
    padding 0.5em 0
    border-bottom 1px $color-grey solid
  &__header
    margin 0
    margin-bottom 1em
  &__form
    padding 1em
    // background-color $color-grey-light
  &__question
    margin 0.3em
    &--selected
      background-color red
.test-model
  &__name
    padding 1em
    display block
    background-color $color-blue-dark
    color $color-grey-light
    text-align center
    set-font-size 22px
    &:hover
      color $color-grey
      text-decoration none
  &__desc
    padding 1em
    text-align justify
    set-font-size 16px
  &__controls
    padding: 1em 0.2em
  &__control
    set-font-size 16px
  &__add
    padding: 1em 0.3em
    .help-block
      text-align center
      set-font-size 14px