.admin-table
  margin 0.5em 0

.test-item
  set-font-size(17px)
  background-color #ccc
  list-style-type none
  width: 100%
  display block
  padding 0.5em 1em
  margin-bottom 0.5em
  
  &__name
    set-font-size(20px)

  &__desc
    set-font-size(16px)
    padding 0.3em 0