.editor-input
  &__label-help
    display block
  &__field-helper
    float right
    color $color-grey-dark
  &__required-field
    &:after
      color $color-warning
      content: " *"
.btn .fa
  margin-right 0.4em
      
 