.popular-tags
  &__list
    list-style-type none
    margin 0
    padding 0
    display flex
    // todo: daly by se smrsknout
    justify-content space-around
  &__list-item
    display inline-block
    margin 1em 0

