html
  head
    title Selftester - dev app :)
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Chivo:400,700&amp;subset=latin-ext")
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext")
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Arimo:400,700&amp;subset=latin-ext")
  body
    #page
    script(src="/bundle.js")
